.main{
   position: relative;
    text-align: center;
    padding: 100px 0 100px 0;
    border-bottom: 2px solid rgba(240, 248, 255, 0.493) ;
}

.title{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
}
.hello{
    color: rgba(240, 248, 255, 0.493);
    font-size: 45px;
}
.name{
    color: rgb(188, 146, 228);
    font-size: 45px;
}
.text{
    color: rgba(240, 248, 255, 0.493);
    font-size: 35px;
    margin-bottom: 20px;
}
.slogan{
    color: rgba(240, 248, 255, 0.493);
    font-size: 25px;
    margin-bottom: 20px;
}
.btn{
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 8px;
    background-color:rgba(240, 248, 255, 0.493) ;
    color: rgb(104, 75, 131);;
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.5s;
    margin-bottom: 50px;
}
.btn:hover{
    background-color: rgba(240, 248, 255, 0.767);
    transition: 0.5s;
}
.info{
    border-bottom: 2px solid rgba(240, 248, 255, 0.493) ;
    
}

.mySkTitle{
    color: rgba(240, 248, 255, 0.493);
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: 600;
}
.mySkills{
    display: flex;
    justify-content: center;
   
}
.mySkills a{
    margin-left: 10px;
}

.modal{
    position: absolute;
    display: flex;
    background-color: rgba(240, 248, 255, 0.493);
    padding: 20px;
    gap: 10px;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    left: 200px;
}
.modalText{
    color: rgb(83, 59, 105);
    font-size: 25px;
    font-weight: 600;
}
.modalImg{
    width: 80px;
    border-radius: 50%;
}

@media (max-width: 1100px){
    .modal{
        left: 400px;
        padding: 10px;
        top: 10px;
    }
}
@media (max-width: 1000px){
    .modal{
        left: 350px;
        padding: 10px;
        top: 10px;
    }
}
@media (max-width: 768px){
    .main{
        padding: 70px 0 55px 0;
    }
    .modal{
        left: 250px;
        padding: 10px;
        top: 10px;
    }
    .modalText{
        font-size: 20px;
    font-weight: 600; 
    }
    .modalImg{
        width: 60px;
    }
}
@media (max-width: 480px){
    .main{
        padding: 50px 0 55px 0;
    }
    .hello{
        font-size: 35px;
    }
    .name{
        font-size: 35px;
    }
    .text{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .title{
        padding-bottom: 15px;
    }
    .slogan{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .btn{
        padding: 10px 25px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .mySkTitle{
        font-size: 30px;
        margin-top: 30px;
    }
    .modal{
        left: 150px;
        padding: 5px;
        top: 10px;
    }
    .modalText{
        font-size: 15px;
    font-weight: 600; 
    }
    .modalImg{
        width: 50px;
    }
}
@media (max-width: 420px){
    .main{
        padding: 40px 0 50px 0;
    }
    .hello{
        font-size: 30px;
    }
    .name{
        font-size: 30px;
    }
   
    .modal{
        left: 100px;
        padding: 3px;
        top: 7px;
    }
    .modalText{
        font-size: 15px;
    font-weight: 600; 
    }
    .modalImg{
        width: 50px;
    }
}
@media (max-width: 375px){
    .main{
        padding: 40px 0 50px 0;
    }
    .hello{
        font-size: 30px;
    }
    .name{
        font-size: 30px;
    }
    .text{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .title{
        padding-bottom: 10px;
    }
    .slogan{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .btn{
        padding: 10px 25px;
        font-size: 18px;
        margin-bottom: 25px;
    }
    .mySkTitle{
        font-size: 25px;
        margin-top: 20px;
    }
    .modal{
        left: 120px;
        padding: 5px;
        top: 8px;
    }
    .modalText{
        font-size: 13px;
    font-weight: 600; 
    }
    .modalImg{
        width: 40px;
    }
}

@media (max-width: 320px){
    .main{
        padding: 30px 0 30px 0;
    }
    .hello{
        font-size: 25px;
    }
    .name{
        font-size: 25px;
    }
    .text{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .title{
        padding-bottom: 10px;
    }
    .slogan{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .btn{
        padding: 10px 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .mySkTitle{
        font-size: 20px;
        margin-top: 20px;
    }
    .modal{
        left: 100px;
        padding: 3px;
        top: 5px;
    }
    .modalText{
        font-size: 10px;
    font-weight: 600; 
    }
    .modalImg{
        width: 30px;
    }
}

@media (max-width: 280px){
    .main{
        padding: 20px 0 20px 0;
    }
    .hello{
        font-size: 20px;
    }
    .name{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .title{
        padding-bottom: 5px;
    }
    .slogan{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .btn{
        padding: 5px 15px;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .mySkTitle{
        font-size: 15px;
        margin-top: 10px;
    }
    .modal{
        left: 80px;
        padding: 1px;
        top: 3px;
    }
    .modalText{
        font-size: 8px;
    font-weight: 600; 
    }
    .modalImg{
        width: 25px;
    }
}
