.shopDiv{
    padding: 30px 200px 30px 200px;
    text-align: start;
    border-bottom: 2px solid rgba(240, 248, 255, 0.493) ;
}

.slider{
    margin: auto;
    width: 800px;
    height: 500px;
}
.image{
    width: 800px;
    height: 400px;
}

.btn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    background-color:rgba(240, 248, 255, 0.493) ;
    color: rgb(104, 75, 131);;
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.5s;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: rgba(240, 248, 255, 0.767);
    transition: 0.5s;
}
.btnTitle{
    display: flex;
    align-items: center;
}
.title{
    color: rgba(240, 248, 255, 0.493);
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 35%;
}
.text{
    color: rgb(188, 146, 228);
    font-size: 25px;
    margin-bottom: 20px;
    width: 800px;
}
.link{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.493);
    font-size: 25px;
    transition: 0.5s;
}
.link:hover{
    color: rgba(188, 203, 216, 0.493);
    transition: 0.5s;
}