.projectsDiv{
    position: relative;
    text-align: start;
    
    border-bottom: 2px solid rgba(240, 248, 255, 0.493) ;
}
.titleBtn{
   margin-left: 400px;
   padding-top: 50px;
}
.title{
    color: rgba(240, 248, 255, 0.493);
    font-size: 35px; 
    margin-bottom: 30px;
}

    .btn{
        border: none;
        cursor: pointer;
        padding: 15px 30px;
        width: 200px;
        border-radius: 8px;
        background-color:rgba(240, 248, 255, 0.493) ;
        color: rgb(104, 75, 131);
        font-size: 25px;
        font-weight: 600;
        margin-top: 15px;
        transition: 0.5s;
        margin-bottom: 50px;
    }
    .btn:hover{
        background-color: rgba(240, 248, 255, 0.767);
        transition: 0.5s;
    } 
    .gitCode{
        border-top: 2px solid rgba(240, 248, 255, 0.493);
        text-align: center;

    }
    .link{
        width: 200px;
        height: 100px;
        margin-left: 20px;
        margin: 35px 10px 35px 10px;
        border-radius: 8px;
    }
    @media (max-width: 1600px){
        .titleBtn{
            margin-left: 200px;
        }
    }
    @media (max-width: 1100px){
        .titleBtn{
            margin-left: 100px;
        }
    }

    @media (max-width: 1000px){
        .titleBtn{
            margin-left: 100px;
        }
    }
    @media (max-width: 768px){
        .title{
            font-size: 30px; 
    margin-bottom: 25px;
        }
        .btn{
            margin-bottom: 30px;   
        }
        .link{
            width: 180px;
            height: 80px;
            margin: 30px 20px 30px 20px;
        }
    }

    @media (max-width: 480px){
        .titleBtn{
            margin-left: 50px;
            padding-top: 30px;
         }
         .title{
            font-size: 25px;
            margin-bottom: 20px;
         }
         .btn{
            padding: 10px 20px;
        width: 150px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 20px;
         }
         .link{
            width: 100px;
            height: 50px;
            margin: 30px 20px 30px 20px;
        }
    }

    @media (max-width: 350px){
        .titleBtn{
            margin-left: 30px;
            padding-top: 20px;
         }
         .title{
            font-size: 20px;
            margin-bottom: 15px;
         }
         .btn{
            padding: 5px 15px;
        width: 130px;
        margin-bottom: 15px;
        margin-top: 8px;
        font-size: 15px;
         }
         .link{
            width: 80px;
            height: 40px;
            margin: 20px 20px 20px 20px;
        }
    }
    