.footer{
    padding: 30px 200px 10px 200px;
    text-align: start;
    background-color: rgba(13, 13, 14, 0.863);
    display: flex;
    justify-content: space-between;
}
.title{
    color: rgba(240, 248, 255, 0.493);
    font-size: 20px;
    margin-bottom: 15px;
}
.link{
    width: 100px;
    margin-bottom: 10px;
}
.info{
    color: rgba(240, 248, 255, 0.493);
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .footer{
        padding: 20px 100px 20px 100px;
    }
}
@media (max-width: 480px){
    .footer{
        padding: 20px 50px 20px 50px;
    }
    .title{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .link{
        width: 80px;
        margin-bottom: 10px;
    }
    .info{
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px){
    .footer{
        padding: 10px;
    }
    .title{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .link{
        width: 60px;
        margin-bottom: 10px;
    }
    .info{
        font-size: 12px;
        margin-bottom: 8px;
    }
}
@media (max-width: 260px){
    .footer{
        padding: 5px;
    }
    .title{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .link{
        width: 50px;
        margin-bottom: 5px;
    }
    .info{
        font-size: 10px;
        margin-bottom: 5px;
    }
}