.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    align-items: center;
    background-color: rgba(13, 13, 14, 0.863);
    border-bottom: 2px solid rgba(240, 248, 255, 0.493) ;
}
.title{
    color: rgba(240, 248, 255, 0.493);
}
.allLinks{
    display: flex;
    gap: 30px;
}
.link{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.493);
    font-size: 20px;
    transition: 0.5s;
}
.link:hover{
    color: rgba(240, 248, 255, 0.767);
    transition: 0.5s;
}

@media (max-width: 768px){
    .nav{
        padding: 20px 100px;
    }
}
@media (max-width: 480px){
    .nav{
        padding: 10px 50px;
    }
    .title{
        font-size: 20px;
    }
    .link{
        font-size: 15px;
    }
}
@media (max-width: 320px){
    .nav{
        padding: 10px 10px;
    }
    .title{
        font-size: 15px;
    }
    .link{
        font-size: 10px;
    }
}
